/* Force line wraping in code instead of horizontal scrolling */
pre {
    white-space: pre-wrap !important;
    word-break: break-all;
}

/* Add the possibility to underline text */
.underline {
    text-decoration: underline;
}

/* This allows the content to use most of the screen */
@media (min-width: 1200px) {
    .wy-nav-content {
        max-width: 95%;
        /* This allows the content to use most of the screen */
    }
}

/** Allow caption from toctree to wrap nicely in sidebar */
.wy-menu .caption-text {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.1;
    /* Increase line height to prevent overlap */
    display: block;
    /* Ensure the element takes up full width */
}


/* Reduce space below titles */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;  /* default ~0.8–1em */
}

/* Reduce space above titles */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.8em;
}

/* Reduce space after titles when followed by text */
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin-top: 0.3em;
}

/* Reduce space around code blocks */
pre,
div.highlight {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
